@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

$text-primary: rgb(110 231 183 / 1) !important;

%link-spacing {
    padding: 1vh 2vw 1vh 0;
    margin: 1vh 0;
}

%link-display {
    display: block !important;
    text-decoration: none;
    color: black;
}

.text-primary-color {
    color: rgb(110 231 183 / 1) !important;
}

body {
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}

nav{
    a {
        @extend %link-display;
    }
    .nav--link{
        @extend %link-spacing;
        width: max-content;
        &:hover {
            color: $text-primary;
        }
    }
}

.mobile{
    position: relative;
    display: none;
    a {
        @extend %link-display;
        @extend %link-spacing;
    }

    &--bun {
        cursor: pointer;
        width: max-content;
    }

    &--view {
        width: 90vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 100;
        z-index: 1000;
        right: 0;
        transform: translateX(200%);
    }

    @media screen and (max-width:991px) {
        display: block;
    }
}

.desktop {

    &--nav {
        flex: 25%;
        @media screen and (max-width:991px) {
            display: none;
        }
    }

    &--space {
        flex: 75%;
        flex-grow: 1;
        @media screen and (max-width:991px) {
            flex: 100%;
        }

        .container {
        }
    }
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes slideIn {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

.brand-text {
    font-family: 'Dancing Script', cursive;
}

.head--links {

    a{

    &:hover {
        transition-duration: 0.4s;
        color: rgb(0, 0, 0, 0.45);
        border-bottom: 2px solid $text-primary;
    }
}
    .active--link {
        border-bottom: 2px solid $text-primary;
    }
}


.text-summary {
    max-width: 35vw;
    @media screen and (max-width:768px) {
        max-width: 45vw ;
    }
    @media screen and (max-width:760px) {
        min-width: 50vw;
        max-width: none;
    }
}

.div-scroll {
    width: calc(0.95*100vw) !important;
}
